* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainImg {
  width: 100%;
}
.boximg {
  display: none;
}
.boxes {
  display: flex;
  padding: 40px 20px;
}
.box {
  padding: 10px;
}

@media (max-width: 768px) {
  .boxes {
    flex-wrap: wrap;
    padding: 0 !important;
  }
  .mainImg {
    width: 100%;
    display: none;
  }
  .boximg {
    width: 100%;
    display: block;
  }
}
