* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainImg {
  width: 100%;
}
.boximg {
  display: none;
}
.boxes {
  display: flex;
  padding: 60px;
}
.box {
  padding: 10px;
}

@media (max-width: 768px) {
  .boxes {
    flex-wrap: wrap;
    padding: 10px !important;
  }
  .mainImg {
    width: 100%;
    display: none;
  }
  .boximg {
    width: 100%;
    display: block;
  }
}
@media (max-width: 972px) {
  .boxes {
    padding: 60px 0 0 0;
  }
}
