.name, .username, .mail {
    border-bottom: 1px solid rgb(176, 171, 171);
    width: 80%;
}
.mail input {
    border: none;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    outline: none;
}
.formEmail input {
    border: none;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    outline: none;
}
.username input {
    border: none;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    outline: none;
}
.formEmail {
    margin: auto;
    width: 70%;
   padding-top: 100px;
   padding-bottom: 100px;
}
.mailButton {
    width: 200px;
}
.formEmail h4 {
    font-weight: 700;
}